pkgbase = sbctl-git
	pkgdesc = Secure Boot key manager
	pkgver = r37.g833e3e4
	pkgrel = 1
	url = https://github.com/Foxboron/sbctl
	arch = x86_64
	license = MIT
	makedepends = go
	makedepends = git
	makedepends = asciidoc
	depends = sbsigntools
	source = git+https://github.com/Foxboron/sbctl.git?signed
	validpgpkeys = C100346676634E80C940FB9E9C02FF419FECBE16
	sha256sums = SKIP

pkgname = sbctl-git

